# Python stuff
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# DATA - This is important so you don't upload the 800MB dataset
data/
datasets/
*.zip
*.tar.gz

# macOS system files
.DS_Store
